.header {
	width: 100vw;
	height: 100vh;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

			.icon {
				width: 400px;
				height: 400px;
				background-image: url("../img/LandingIcon.svg");
				background-size: cover;
			}

			.title {
				color: #F2F2F2;
				font-size: 96px;
				font-family: "Airbnb Cereal App";
				font-weight: bold;
				margin-left: -150px;
			}
		}

		.slogan {
			font-family: "Airbnb Cereal App";

			font-style: normal;
			font-weight: bold;
			font-size: 24px;

			text-align: center;
			color: #BDBDBD;

			margin-top: 20px;
		}
	}
	.right {
		width: 639.6px;
		height: 457.6px;
		background-image: url("../img/landscape.webp"),
						  url("../img/landscape-full.png");
		background-size: cover;
		margin-left: 80px;
	}
}
article {
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	section {
		width: 100vw;
		height: 100vh;
		background: #111;
	}
	.best {
		display: flex;

		align-items: center;
		background-image: url("../img/CodeLand.jpg");
		background-position: bottom right;
		background-size: contain;
		background-repeat: no-repeat;
		.c {
			margin-left: 10vw;
			margin-top: -150px;
			h1 {
				color: #E0E0E0;
				font-size: 96px;
				font-family: "Airbnb Cereal App";
				font-weight: bold;
				max-width: 685px;
				margin: 0;
			}
			.slogan {
				font-family: "Airbnb Cereal App";

				font-style: normal;
				font-weight: bold;
				font-size: 24px;

				color: #BDBDBD;

				margin-top: 20px;
			}
		}
	}
}
