<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{site.url}}/favicon.ico">
	<link rel="apple-touch-icon" href="{{site.url}}/icon.png">

	<!-- stylesheets -->
	<link rel="stylesheet" href="https://unpkg.com/normalize.css">
	<link rel="stylesheet" href="https://unpkg.com/airbnbcereal">
	<link rel="stylesheet" href="https://unpkg.com/inter-ui">
	<link rel="stylesheet" href="{{site.url}}/css/main.css">
	<link rel="stylesheet" href="https://unpkg.com/waffle-grid">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@arthur_guiot">
	<meta name="twitter:title" content="StudIO Code">
	<meta name="twitter:description" content="The first hackable code editor for iOS">
	<meta name="twitter:image" content="https://studiocode.app/img/banner.png">

	<meta property="og:type" content="product">
	<meta property="og:title" content="StudIO Code">
	<meta property="og:url" content="https://studiocode.app">
	<meta property="og:image" content="https://studiocode.app/img/banner.png">
	<meta property="product:price:amount" content="4.99">
	<meta property="product:price:currency" content="USD">

	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "SoftwareApplication",
			"name": "StudIO Code",
			"applicationCategory": "Business, Developer Tools, Utilities",
			"operatingSystem": "iOS 10",
			"offers": {
				"@type": "Offer",
				"priceCurrency": "USD",
				"price": "4.99"
			}
		}
	</script>
</head>

<body>
	<!--[if lte IE 9]
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	{{content}}

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99939279-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-99939279-2');
	</script>
	<script src="{{site.url}}/js/functions.js"></script>
	<script src="https://unpkg.com/lunar-icons" charset="utf-8"></script>
	<!-- Start of Async Drift Code -->
	<script>
		"use strict";

		! function() {
			var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void(window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
					t.factory = function(e) {
						return function() {
							var n = Array.prototype.slice.call(arguments);
							return n.unshift(e), t.push(n), t;
						};
					}, t.methods.forEach(function(e) {
						t[e] = t.factory(e);
					}), t.load = function(t) {
						var e = 3e5,
							n = Math.ceil(new Date() / e) * e,
							o = document.createElement("script");
						o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
						var i = document.getElementsByTagName("script")[0];
						i.parentNode.insertBefore(o, i);
					};
			}
		}();
		drift.SNIPPET_VERSION = '0.3.1';
		drift.load('feimwigfebaw');
	</script>
	<script src="https://player.vimeo.com/api/player.js"></script>
	<!-- End of Async Drift Code -->
</body>

</html>
